body{
	margin: 0px;
	background-color: #e4f6f8;
}

.needs-padding{
	padding:50px;
}

.top-margin{
	margin-top: 75px;
}
.right-text 
{
	color: #3d3d3d;
}
.right-text h2{
	font-size: 35px;
	letter-spacing: 8px;
	text-transform: uppercase;
	margin-top: 60px;
	margin-bottom: 30px;
	margin-left: 50px;
}

.right-text h3{
	margin-left: 51px;
	margin-right: 50px;
	margin-bottom: 20px;
	line-height:125%;
}

.right-text p{
	margin-left: 51px;
	margin-right:50px;
	font-size: 15px;
	line-height: 165%;
	margin-bottom: 0px;
}

.col-md-4 .attribute{
	margin-top: 40px;
}

.attribute h2{
	text-transform: uppercase;
	font-size: 25px;
	margin-bottom: 20px;
}

.attribute p{
	font-size: 15px;
	margin-top: 20px;
	margin-bottom: 40px;
}
